{% form_theme form with ["Catalog/Layout/Templates/FormHelper.html.twig"] %}

{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'} }) }}
<div class="row">
  <div class="col-md-6">
    {{ form_row(form.company_name, { 'attr': {'tabindex': '201'} }) }}
    {{ form_row(form.last_name, { 'attr': {'tabindex': '203'} }) }}
    {{ form_row(form.phone, { 'attr': {'tabindex': '209'} }) }}
    {{ form_row(form.city, { 'attr': {'tabindex': '210'} }) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.first_name, { 'attr': {'tabindex': '202'} }) }}
    {{ form_row(form.street, { 'attr': {'tabindex': '204'} }) }}
    <div class="row">
      <div class="col-md-4">
        {{ form_row(form.zip_code, { 'attr': {'tabindex': '206'} }) }}
      </div>
      <div class="col-md-4">
        {{ form_row(form.house_number, { 'attr': {'tabindex': '207'} }) }}
      </div>
      <div class="col-md-4">
        {{ form_row(form.house_number_addition, { 'attr': {'tabindex': '208'} }) }}
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" id="submit-step-two" tabindex="211">{{ 'lbl.Continue'|trans|ucfirst }}</button>
    </div>
  </div>
</div>
{{ form_end(form) }}
