{% form_theme form with ["Catalog/Layout/Templates/FormHelper.html.twig"] %}

{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'} }) }}
  <div class="row">
    <div class="col-md-6">
      {{ form_row(form.first_name) }}
      {{ form_row(form.last_name) }}
      {{ form_row(form.email_address) }}
      {{ form_row(form.phone) }}
    </div>
    <div class="col-md-6">
      {{ form_row(form.street) }}
      {{ form_row(form.street) }}
      <div class="row">
        <div class="col-md-4">
          {{ form_row(form.zip_code) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.house_number) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.house_number_addition) }}
        </div>
      </div>
      {{ form_row(form.city) }}
      {{ form_row(form.same_shipping_address) }}
      <div class="text-right">
        <button type="submit" class="btn btn-primary" id="submit-step-two">{{ 'lbl.Continue'|trans|ucfirst }}</button>
      </div>
    </div>
  </div>
{{ form_end(form) }}
