{% form_theme form with ["Catalog/Layout/Templates/FormHelper.html.twig"] %}

{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'} }) }}
  <div class="row">
    <div class="col-md-12">
      {{ form_widget(form.payment_method) }}
      {{ form_errors(form.payment_method) }}
    </div>
    <div class="col-md-12" id="payment_options">
      {{ form_rest(form) }}
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" id="submit-step-five">{{ 'lbl.Continue'|trans|ucfirst }}</button>
    </div>
  </div>
{{ form_end(form) }}
