{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if showCommerceAddCategory %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {# prettier-ignore #}
        {{ macro.buttonIcon( geturl('AddCategory'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="content-block" x-data>
    {# prettier-ignore #}
    {{ form_start(filterCategory, { 'attr': { 'x-ref': 'filterForm' } }) }}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{ form_widget(filterCategory.category, { 'attr': { '@input.debounce.500ms': '$refs.filterForm.submit()' }}) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ form_end(filterCategory) }}
  </div>

  {{ macro.dataGrid(dataGrid) }}

  {# Javascript #}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}
