{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {% if showCommercePackingSlip %}
          {{ macro.buttonIcon( geturl('PackingSlip') ~ '&id=' ~ order.id, 'truck', 'lbl.PackingSlip'|trans|ucfirst) }}
        {% endif %}
        {% if showCommerceInvoice %}
          {{ macro.buttonIcon( geturl('Invoice') ~ '&id=' ~ order.id, 'ticket', 'lbl.Invoice'|trans|ucfirst) }}
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-6">
      <div class="panel form-group panel-default">
        <div class="panel-heading">{{ 'lbl.Details'|trans|ucfirst }}</div>
        <div class="panel-body">
          <table class="order-detail">
            <tr>
              <td><i class="fa fa-calendar" aria-hidden="true"></i></td>
              <td>{{ order.date.format('d-m-Y') }}</td>
            </tr>
            <tr>
              <td><i class="fa fa-truck" aria-hidden="true" title="{{ 'lbl.ShipmentMethod'|trans|ucfirst }}"></i></td>
              <td>{{ order.shipmentMethod }}</td>
            </tr>
            <tr>
              <td><i class="fa fa-shopping-cart" aria-hidden="true" title="{{ 'lbl.PaymentMethod'|trans|ucfirst }}"></i></td>
              <td>{{ order.paymentMethod }}</td>
            </tr>
            <tr>
              <td><i class="fa fa-ticket" aria-hidden="true" title="{{ 'lbl.InvoiceNumber'|trans|ucfirst }}"></i></td>
              {% if order.invoiceNumber %}
                <td>{{ order.invoiceNumber }}</td>
              {% else %}
                <td><a href="javascript:void(0);" id="generateInvoiceNumber" data-order="{{ order.id }}">{{ 'lbl.GenerateInvoiceNumber'|trans|ucfirst }}</a></td>
              {% endif %}
            </tr>
            <tr>
              <td><i class="fa fa-calendar" aria-hidden="true"></i></td>
              <td><span id="invoiceDate">{% if order.invoiceNumber %}{{ order.invoiceDate.format('d-m-Y') }}{% endif %}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel form-group panel-default">
        <div class="panel-heading">{{ 'lbl.CustomerDetails'|trans|ucfirst }}</div>
        <div class="panel-body">
          <table class="order-detail">
            <tr>
              <td><i class="fa fa-user" aria-hidden="true"></i></td>
              <td>{{ order.invoiceAddress.fullName }}</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
              <td><a href="mailto:{{ order.account.email }}">{{ order.account.email }}</a>
              </td>
            </tr>
            <tr>
              <td><i class="fa fa-phone" aria-hidden="true"></i></td>
              <td><a href="tel:{{ order.account.phone }}">{{ order.account.phone }}</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel form-group panel-default">
        <div class="panel-heading">{{ 'lbl.OrderDetails'|trans|ucfirst }}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel form-group panel-default">
                <div class="panel-heading">{{ 'lbl.InvoiceAddress'|trans|ucfirst }}</div>
                <div class="panel-body">
                  {% if order.invoiceAddress.companyName %}{{ order.invoiceAddress.companyName }}<br/>{% endif %}
                  {{ order.invoiceAddress.fullName }}<br/>
                  {{ order.invoiceAddress.street }} {{ order.invoiceAddress.houseNumber }}{{ order.invoiceAddress.houseNumberAddition }}<br/>
                  {{ order.invoiceAddress.zipCode }} {{ order.invoiceAddress.city }}<br/>
                  {{ order.invoiceAddress.country.name }}
                  {% if order.invoiceAddress.emailAddress %}
                    <br/><a href="mailto:{{ order.invoiceAddress.emailAddress }}">{{ order.invoiceAddress.emailAddress }}</a>
                  {% endif %}
                  {% if order.invoiceAddress.phone %}
                    <br /><a href="tel:{{ order.invoiceAddress.phone }}">{{ order.invoiceAddress.phone }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel form-group panel-default">
                <div class="panel-heading">{{ 'lbl.ShipmentAddress'|trans|ucfirst }}</div>
                <div class="panel-body">
                  {% if order.shipmentAddress.companyName %}{{ order.shipmentAddress.companyName }}<br/>{% endif %}
                  {{ order.shipmentAddress.fullName }}<br/>
                  {{ order.shipmentAddress.street }} {{ order.shipmentAddress.houseNumber }}{{ order.shipmentAddress.houseNumberAddition }}<br/>
                  {{ order.shipmentAddress.zipCode }} {{ order.shipmentAddress.city }}<br/>
                  {{ order.shipmentAddress.country.name }}
                  {% if order.shipmentAddress.emailAddress %}
                    <br/><a href="mailto:{{ order.shipmentAddress.emailAddress }}">{{ order.shipmentAddress.emailAddress }}</a>
                  {% endif %}
                  {% if order.shipmentAddress.phone %}
                    <br /><a href="tel:{{ order.shipmentAddress.phone }}">{{ order.shipmentAddress.phone }}</a>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="col-md-12">
              {{ macro.dataGrid(dataGridOrderProducts) }}
            </div>
            <div class="col-md-4 col-md-offset-8">
              <table class="table order-total">
                <thead>
                <tbody>
                <tr>
                  <td>{{ 'lbl.SubTotal'|trans|ucfirst }}</td>
                  <td>{{ order.subTotal|format_money(LANGUAGE) }}</td>
                </tr>
                <tr>
                  <td>{{ order.shipmentMethod }}</td>
                  <td>{{ order.shipmentPrice|format_money(LANGUAGE) }}</td>
                </tr>
                {% for rule in order.rules %}
                  <tr>
                    <td>{{ rule.title }} ({{ rule.code }})</td>
                    <td>{{ rule.value|raw }}</td>
                  </tr>
                {% endfor %}
                {% for vat in order.vats %}
                  <tr>
                    <td>{{ vat.title }}</td>
                    <td>{{ vat.total|format_money(LANGUAGE) }}</td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>{{ 'lbl.Total'|trans|ucfirst }}</td>
                  <td>{{ order.total|format_money(LANGUAGE) }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel form-group panel-default">
        <div class="panel-heading">{{ 'lbl.OrderHistory'|trans|ucfirst }}</div>
        <div class="panel-body">
          {{ macro.dataGrid(dataGridOrderHistory) }}
          <div class="row">
            <div class="col-md-12">
              {{ form_row(form.orderStatus) }}
              <button id="addButton" type="submit" name="add" class="btn btn-primary">
                <span class="fa fa-plus-square"></span>&nbsp;
                {{ 'lbl.Add'|trans|ucfirst }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

{% endblock %}
