{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if showCommerceAdd %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {# prettier-ignore #}
        {{ macro.buttonIcon(geturl('Add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- Product filter -->
  <div class="content-block" x-data>
    {# prettier-ignore #}
    {{ form_start(form, { 'attr': { 'x-ref': 'productFilterForm' } }) }}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {# Submit form when typing + set cursor at end of line #}
              {{ form_widget(form.search, { 'attr': {
                '@input.debounce.500ms': '$refs.productFilterForm.submit()',
                'x-init': '$el.setSelectionRange($el.value.length, $el.value.length)'
              }}) }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              {{ form_widget(form.brand, { 'attr': { '@input.debounce.500ms': '$refs.productFilterForm.submit()'}}) }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              {{ form_widget(form.category, { 'attr': { '@input.debounce.500ms': '$refs.productFilterForm.submit()'}}) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ form_end(form) }}
  </div>

  {{ macro.dataGrid(dataGrid) }}

  {# Javascript #}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}
