{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
{% endblock %}

{% block content %}
  <!-- Product filter -->
  <div class="content-block" x-data>
    {{ form_start(form, { 'attr': { 'x-ref': 'filterForm' } }) }}

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <!-- Search query filter -->
          <div class="col-md-7">
            <div class="form-group">
              {{ form_widget(form.search_query) }}
            </div>
          </div>

          <!-- Order status filter -->
          <div class="col-md-2">
            <div class="form-group">
              {{ form_widget(form.order_status, { 'attr': { '@input.debounce.500ms': '$refs.filterForm.submit()'}}) }}
            </div>
          </div>

          <!-- Order daterange filter -->
          <div class="col-md-3">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="fa fa-calendar" aria-hidden="true"></span>
                </div>
                {{ form_widget(form.order_date_range, {'attr' : {'class' : 'form-control js-daterange-picker', '@input.debounce.500ms': '$refs.filterForm.submit()' }}) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ form_end(form) }}
  </div>

  <!-- Datagrid -->
  {{ macro.dataGrid(dataGrid) }}

  {# Javascript #}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- Setup datepicker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    // Set interface language on datepicker
    moment.locale(jsBackend.data.get('interface_language'));

    function translate(key, module = 'Commerce') {
      return utils.string.ucfirst(jsBackend.locale.lbl(key, module))
    }

    // Init daterangepicker
    const filterParams = new URLSearchParams(window.location.search)
    $('.js-daterange-picker').daterangepicker({
      ranges: {
        [translate('Last7Days')]: [moment().subtract(7, 'days'), moment()],
        [translate('Last30Days')]: [moment().subtract(30, 'days'), moment()],
        [translate('Last90Days')]: [moment().subtract(90, 'days'), moment()],
        [translate('LastYear')]: [moment().subtract(1, 'year'), moment()],
        [translate('ThisMonth')]: [moment().startOf('month'), moment()],
        [translate('ThisQuarter')]: [moment().startOf('quarter'), moment()],
        [translate('ThisYear')]: [moment().startOf('year'), moment()],
      },
      "alwaysShowCalendars": true,
      "startDate": filterParams.has('order_date_started_at') ? moment(filterParams.get('order_date_started_at'), 'DD-MM-YYYY') : moment().subtract(1, 'year'),
      "endDate": filterParams.has('order_date_ended_at') ? moment(filterParams.get('order_date_ended_at'), 'DD-MM-YYYY') : moment(),
      "maxDate": moment(),
      locale: {
        "format": "DD-MM-YYYY",
        "cancelLabel": translate('Cancel'),
        "applyLabel": translate('Apply'),
      }
    });

    // Refresh page on changing date
    $('.js-daterange-picker').on('apply.daterangepicker', function(ev, picker) {
      ev.target.closest('form').submit();
    });
  </script>
{% endblock %}
