{% block _form_order_address_row %}
  {{- form_widget(form) -}}
{% endblock %}

{%- block choice_widget_expanded -%}
  <div {{ block('widget_container_attributes') }} class="row">
    {%- for key, child in form %}
      {% set entity = form.vars.choices[key].data %}
      {% set checked = entity.id == form.vars.value %}
      <div class="col-md-6 mb-4">
      <div class="card order-address{% if checked %} order-address-checked{% endif %}" data-type="{{ form.vars.name }}">
        <div class="card-body">
          {% if entity.companyName %}{{ entity.companyName }}<br />{% endif %}
          {{ entity.fullName }}<br />
          {{ entity.street }} {{ entity.houseNumber }}{{ entity.houseNumberAddition }}<br />
          {{ entity.zipCode }} {{ entity.city }}<br />
          {{ entity.country.name }}
          <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ entity.id }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="d-none" />
        </div>
        <div class="card-footer text-right">
          <a href="{{ form.vars.attr.edit_link }}{{ entity.id }}" class="btn btn-link">{{ 'lbl.Edit'|trans|ucfirst }}</a>
          <a href="javascript:void(0);" class="btn btn-primary">{{ 'lbl.Select'|trans|ucfirst }}</a>
        </div>
      </div>
      </div>
    {% endfor -%}
  </div>
{%- endblock choice_widget_expanded -%}

{% block _form_order_address_label %}
  {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
    {% if label is not same as(false) %}
      {% if label is empty %}
        {% set label = id|trans({}, translation_domain)|ucfirst %}
      {% else %}
        {% set label = label|trans({}, translation_domain)|ucfirst %}
      {% endif %}
      {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
      {% endif %}
      {% set label_attr_class = '' %}
      {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
      <h4>
        {{ label }}
      </h4>
    {% endif %}
  {% endif %}
{% endblock %}
