<div class="row pt-3 pb-5">
  {% if showPrevious is not defined or showPrevious %}
    <div class="col-md-6">
      <a href="{{ step.previousStep.url }}" class="btn btn-link">{{ 'lbl.PreviousStep'|trans|ucfirst }}</a>
    </div>
    <div class="col-md-6 text-right">
  {% else %}
    <div class="col-md-12 text-right">
  {% endif %}
      <button type="submit" class="btn btn-primary" data-checkout-step="{{ checkoutStep }}"{% if checkoutStepValueSelector %} data-checkout-step-value-selector="{{ checkoutStepValueSelector }}"{% endif %}>{{ 'lbl.Continue'|trans|ucfirst }}</button>
    </div>
  </div>
</div>
