{#
    The AccountStep is the step where the customer fills in his contact info, address information
    and has an option to create an account.
#}

{% form_theme accountForm with['Core/Layout/Templates/Form/tailwind_2_layout.html.twig'] %}

<div class="relative grid grid-cols-1 mx-auto gap-x-16 max-w-7xl lg:px-8 lg:grid-cols-2 xl:gap-x-48">
    <!-- Left panel -->
    <div class="panel">
        {{ form_start(accountForm, { 'attr': {'class': 'space-y-10', 'novalidate': 'novalidate'}}) }}

        <!-- Contact details -->
        <fieldset>
            <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.ContactDetails'|trans|ucfirst }}</h2>

            <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div>{{ form_row(accountForm.first_name) }}</div>
                <div>{{ form_row(accountForm.last_name) }}</div>
                <div class="sm:col-span-2">{{ form_row(accountForm.company_name) }}</div>
                <div class="sm:col-span-2">{{ form_row(accountForm.email_address) }}</div>
                <div>{{ form_row(accountForm.phone) }}</div>
            </div>
        </fieldset>

        <!-- Shipmentaddress details -->
        <fieldset>
            <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.AddressDetails'|trans|ucfirst }}</h2>

            <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-8 sm:gap-x-4">
                <div class="sm:col-span-4">{{ form_row(accountForm.shipment_address.street) }}</div>
                <div class="sm:col-span-1">{{ form_row(accountForm.shipment_address.house_number) }}</div>
                <div class="sm:col-span-3">{{ form_row(accountForm.shipment_address.house_number_addition) }}</div>

                <div class="sm:col-span-2">{{ form_row(accountForm.shipment_address.zip_code) }}</div>
                <div class="sm:col-span-6">{{ form_row(accountForm.shipment_address.city) }}</div>

                <div class="sm:col-span-8">{{ form_row(accountForm.shipment_address.country) }}</div>
            </div>
        </fieldset>

        <!-- Invoice address details -->
        <fieldset x-data="{isSameInvoiceAddress: {% if cart.invoiceAddress is null %}true{% else %}false{% endif %}}">
            <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.InvoiceAddress'|trans|ucfirst }}</h2>

            <div class="mt-4">
                {{ form_row(accountForm.same_invoice_address, {attr : {'x-model' : 'isSameInvoiceAddress'}}) }}
            </div>

            <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-8 sm:gap-x-4" x-show="!isSameInvoiceAddress" x-cloak>
                <div class="sm:col-span-4">{{ form_row(accountForm.invoice_address.street) }}</div>
                <div class="sm:col-span-1">{{ form_row(accountForm.invoice_address.house_number) }}</div>
                <div class="sm:col-span-3">{{ form_row(accountForm.invoice_address.house_number_addition) }}</div>

                <div class="sm:col-span-2">{{ form_row(accountForm.invoice_address.zip_code) }}</div>
                <div class="sm:col-span-6">{{ form_row(accountForm.invoice_address.city) }}</div>

                <div class="sm:col-span-8">{{ form_row(accountForm.invoice_address.country) }}</div>
            </div>
        </fieldset>

        <!-- Create account / password -->
        <fieldset>
            <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.CreateAccount'|trans|ucfirst }}?</h2>
            <p class="small">({{ 'lbl.Optional'|trans|ucfirst }})</p>

            <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div class="space-y-6 sm:col-span-2">{{ form_row(accountForm.password) }}</div>
            </div>
        </fieldset>

        <!-- Submit button -->
        {% include 'Commerce/Layout/Templates/Checkout/partials/StepFooter.html.twig' with { showPrevious : true } %}

        {{ form_end(accountForm) }}
    </div>

    <!-- Right panel -->
    {% include 'Commerce/Layout/Templates/Checkout/partials/CartSummary.html.twig' %}
</div>
