{#
    This form is shown when the user chooses to add a new address or edit his existing address, during checkout.
#}

{% form_theme form with ["Core/Layout/Templates/Form/tailwind_2_layout.html.twig"] %}

<div class="relative grid grid-cols-1 mx-auto gap-x-16 max-w-7xl lg:px-8 lg:grid-cols-2 xl:gap-x-48">
    <!-- Left panel -->
    <div class="panel">
        {{ form_start(form, { 'attr': {'class': 'space-y-10', 'novalidate': 'novalidate'}}) }}
            {% set isAddForm = form.vars.value.first_name is null %}
            <h2 class="mb-4 text-lg text-gray-600">
                {% if isAddForm %}
                    {{ 'msg.AddNewAddress'|trans|ucfirst }}
                {% else %}
                    {{ 'msg.EditAddress'|trans|ucfirst }}
                {% endif %}
            </h2>

            <!-- Contact details -->
            <fieldset>
                <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                    <div>{{ form_row(form.first_name) }}</div>
                    <div>{{ form_row(form.last_name) }}</div>
                    <div class="sm:col-span-2">{{ form_row(form.company_name) }}</div>
                </div>
            </fieldset>

            <!-- address details -->
            <fieldset>
                <div class="grid grid-cols-1 mt-4 gap-y-6 sm:grid-cols-8 sm:gap-x-4">
                    <div class="sm:col-span-4">{{ form_row(form.street) }}</div>
                    <div class="sm:col-span-1">{{ form_row(form.house_number) }}</div>
                    <div class="sm:col-span-3">{{ form_row(form.house_number_addition) }}</div>

                    <div class="sm:col-span-2">{{ form_row(form.zip_code) }}</div>
                    <div class="sm:col-span-6">{{ form_row(form.city) }}</div>

                    <div class="sm:col-span-8">{{ form_row(form.country) }}</div>
                </div>
            </fieldset>

            <div class="checkout-footer | py-10 my-20 border-t border-gray-200">
                <ul class="flex items-center justify-between">
                    <li>
                        <a href="{{ geturlforblock('Commerce', 'Cart') }}/{{ 'lbl.Checkout'|trans }}">&larr; {{ 'lbl.PreviousStep'|trans|ucfirst }}</a>
                    </li>
                    <li>
                        <button type="submit" class="flex items-center justify-center w-full px-20 py-2 text-white bg-gray-800 hover:bg-gray-600">
                            {{ 'lbl.Save'|trans|ucfirst }}
                        </button>
                    </li>
                </ul>
            </div>

        {{ form_end(form) }}
    </div>

    <!-- Right panel -->
    {% include 'Commerce/Layout/Templates/Checkout/partials/CartSummary.html.twig' %}
</div>
