{#
    The AddressesStep is shown when the user is already logged in.
    We show his existing shipment and invoice addresses, instead of a register form.
#}

{% form_theme form with ['Commerce/Layout/Templates/Checkout/partials/CheckoutFormTheme.html.twig'] %}

<div class="relative grid grid-cols-1 mx-auto gap-x-16 max-w-7xl lg:px-8 lg:grid-cols-2 xl:gap-x-48">
    <!-- Left panel -->
    <div class="panel">
        {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class': 'space-y-10' } }) }}
            <!-- Shipment address selection -->
            <fieldset>
                <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.ShipmentAddress'|trans|ucfirst }}</h2>
                {{ form_errors(form.shipment_address) }}
                {{ form_row(form.shipment_address) }}
            </fieldset>

            <!-- Invoice address selection -->
            <fieldset x-data="{isSameInvoiceAddress: {% if cart.invoiceAddress is null %}true{% else %}false{% endif %}}">
                <h2 class="mb-4 text-lg text-gray-600">{{ 'lbl.InvoiceAddress'|trans|ucfirst }}</h2>

                {{ form_widget(form.same_invoice_address, {attr : {'x-model' : 'isSameInvoiceAddress'}}) }}
                <div class="invoice_address" x-show="!isSameInvoiceAddress" x-cloak>
                    {{ form_errors(form.invoice_address) }}
                    {{ form_row(form.invoice_address) }}
                </div>
            </fieldset>

            {% include 'Commerce/Layout/Templates/Checkout/partials/StepFooter.html.twig' with { showPrevious : false } %}
        {{ form_end(form) }}
    </div>

    <!-- Right panel -->
    {% include 'Commerce/Layout/Templates/Checkout/partials/CartSummary.html.twig' %}
</div>
