{#
    The OrderPlacedStep is shown when the order is completed and we say thanks.
#}

<div class="pb-20 mx-auto max-w-7xl lg:px-8">
    <h2 class="mb-4 text-lg text-gray-600">
        {{ 'lbl.OrderCompleted'|trans|ucfirst }}
    </h2>
    <p>
        {{ 'lbl.ThankYouForYourOrder'|trans|ucfirst }}
    </p>
</div>

{# prettier-ignore #}
<script type="text/javascript">
  function updateCart() {
    if (typeof ga === 'undefined') {
      return
    }

    ga('require', 'ec')
    ga('set', 'currencyCode', 'EUR');

    {% for value in cart.values %}
    ga('ec:addProduct', {
      'id': '{{ value.product.sku }}',
      'name': '{{ value.product.title }}',
      'category': '{{ value.product.category.title }}',
      'brand': '{{ value.product.brand.title }}',
      'price': '{{ value.price|money_as_float }}',
      'quantity': {{ value.quantity }}
    });
    {% endfor %}

    ga('ec:setAction', 'purchase', {
      id: '{{ cart.order.id }}',
      revenue: '{{ cart.total|money_as_float }}',
      tax: '{{ cart.vatTotals }}',
      shipping: '0.00'
    });

    ga("send", "pageview");
  }

  updateCart()
</script>
