<li class="list-none item group">
    {# Product thumbnail #}
    <a href="{{ product.url }}" class="product-image-container | block relative">
        <img src="{{ product.thumbnail.getWebPath()|imagine_filter('product_thumbnail') }}"
            alt="{{ product.title }}"
            class="block w-full h-auto" />

        {# Display a second thumbnail on hover #}
        {% if product.images.numberOfConnectedItems > 1 %}
            <img src="{{ product.images.connectedItems.slice(1, 1)|first.item.getWebPath()|imagine_filter('product_thumbnail') }}"
                alt="{{ product.title }}"
                class="absolute top-0 left-0 block w-full h-auto transition-opacity duration-300 opacity-0 group-hover:opacity-100" />
        {% endif %}
    </a>

    <div class="product-details | relative">
        <div class="flex items-center justify-between pt-3">
            <h3 class="m-0 text-base font-normal tracking-normal text-gray-500 normal-case transition-colors duration-200 hover:text-gray-800">
                <a href="{{ product.url }}" class="">{{ product.title }}</a>
            </h3>
            <a href="#" class="text-white hover:text-black">
                <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" stroke="#000">
                    <path fill-rule="evenodd"
                        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <p class="pt-1 text-gray-900 group-hover:opacity-0">
            {{ product.price|money_localized_format }}
        </p>
        <div class="product-look-actions | absolute bottom-0 left-0 opacity-0 text-sm border-b border-gray-300 transition duration-200 ease-out group-hover:opacity-100 transform -translate-x-2 group-hover:translate-x-0 pb-1">
            <a href="{{ product.url }}" class="text-gray-900 transition-colors duration-200 hover:text-yellow-500">
                {{ 'lbl.ShowMore'|trans|ucfirst }}
            </a>
        </div>
    </div>
</li>
