<li class="list-none item group">
    {# Product thumbnail #}
    <a href="{{ product.url }}" class="product-image-container | block relative">
        <img src="{{ product.thumbnail.getWebPath()|imagine_filter('product_thumbnail') }}"
            alt="{{ product.title }}"
            class="block w-full h-auto" />

        {# Display a second thumbnail on hover #}
        {% if product.images.numberOfConnectedItems > 1 %}
            <img src="{{ product.images.connectedItems.slice(1, 1)|first.item.getWebPath()|imagine_filter('product_thumbnail') }}"
                alt="{{ product.title }}"
                class="absolute top-0 left-0 block w-full h-auto transition-opacity duration-300 opacity-0 group-hover:opacity-100" />
        {% endif %}
    </a>

    <div class="product-details | relative">
        <div class="flex items-center justify-between pt-3">
            <h3 class="m-0 text-base font-normal tracking-normal text-gray-500 normal-case transition-colors duration-200 hover:text-gray-800">
                <a href="{{ product.url }}" class="">{{ product.title }}</a>
            </h3>

            <!-- Add to wishlist -->
            {% include 'Commerce/Layout/Templates/Components/WishlistButton.html.twig' %}
        </div>

        <div class="pt-1 text-gray-900 group-hover:opacity-0">
            {# Price + discount #}
            {% if product.hasActiveSpecialPrice %}
                <span class="price-old | line-through inline">
                    <del aria-hidden="true">{{ product.oldPrice(includeVAT)|money_localized_format }}</del>
                </span>
                <span class="price-new | text-yellow-500 inline">
                    {{ product.activePrice(includeVAT)|money_localized_format }}
                </span>
            {% else %}
                {# Regular price #}
                <span>
                    {{ product.activePrice(includeVAT)|money_localized_format }}
                </span>
            {% endif %}
        </div>
        <div class="product-look-actions | absolute bottom-0 left-0 opacity-0 text-sm border-b border-gray-300 transition duration-200 ease-out group-hover:opacity-100 transform -translate-x-2 group-hover:translate-x-0 pb-1">
            <a href="{{ product.url }}" class="text-gray-900 transition-colors duration-200 hover:text-yellow-500">
                {{ 'lbl.ShowMore'|trans|ucfirst }}
            </a>
        </div>
    </div>
</li>
