{% form_theme form with ["Catalog/Layout/Templates/FormHelper.html.twig", "Catalog/Layout/Templates/Checkout/Step/_partials/FormHelper.html.twig"] %}

{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'} }) }}
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between mb-3">
        <h4>{{ 'lbl.ShipmentAddress'|trans|ucfirst }}</h4>
        <a href="{{ step.url }}?add" class="btn btn-link">{{ 'lbl.AddAddress'|trans|ucfirst }}</a>
      </div>
    </div>
    {{ form_errors(form.shipment_address) }}
    {{ form_row(form.shipment_address) }}
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h4>{{ 'lbl.InvoiceAddress'|trans|ucfirst }}</h4>
      </div>
    </div>
    <div class="invoice_address {% if cart.invoiceAddress is null %}d-none{% endif %}">
      {{ form_errors(form.invoice_address) }}
      {{ form_row(form.invoice_address) }}
    </div>
    {{ form_widget(form.same_invoice_address, {attr : {'data-toggle' : '.invoice_address', 'data-toggle-class' : 'd-none'}}) }}
  </div>
</div>
{% include 'Catalog/Layout/Templates/Checkout/Step/_partials/StepFooter.html.twig' with {showPrevious : false, checkoutStep: 'address'} %}
{{ form_end(form) }}
