{% form_theme form with ["Catalog/Layout/Templates/FormHelper.html.twig", "Catalog/Layout/Templates/Checkout/Step/_partials/FormHelper.html.twig"] %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        <label class="m-0">{{ 'lbl.Name'|trans|ucfirst }}</label>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            {{ form_widget(form.first_name) }}
            {{ form_errors(form.first_name) }}
          </div>
          <div class="col-md-6">
            {{ form_widget(form.last_name) }}
            {{ form_errors(form.last_name) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        {{ form_label(form.company_name) }}
      </div>
      <div class="col-md-8">
        {{ form_widget(form.company_name) }}
        {{ form_errors(form.company_name) }}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        <label class="m-0">{{ form_label(form.zip_code) }}</label>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            {{ form_widget(form.zip_code) }}
            {{ form_errors(form.zip_code) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        {{ form_label(form.house_number) }}
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            {{ form_widget(form.house_number) }}
            {{ form_errors(form.house_number) }}
          </div>
          <div class="col-md-4">
            {{ form_widget(form.house_number_addition) }}
            {{ form_errors(form.house_number_addition) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        <label>
          {{ 'lbl.Street'|trans|ucfirst }} + {{ 'lbl.City'|trans|ucfirst }}
        </label>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            {{ form_widget(form.street) }}
            {{ form_errors(form.street) }}
          </div>
          <div class="col-md-6">
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 text-right d-flex justify-content-end align-items-center">
        {{ form_label(form.country) }}
      </div>
      <div class="col-md-8">
          {{ form_widget(form.country) }}
          {{ form_errors(form.country) }}
      </div>
    </div>
  </div>
</div>
<div class="row pb-5">
  <div class="col-md-8 offset-md-2 text-right">
    <button type="submit" class="btn btn-default" id="checkout-account">{{ 'lbl.Save'|trans|ucfirst }}</button>
  </div>
</div>
{{ form_end(form) }}
