<div class="card mb-3">
  <div class="card-header">
    {% if active %}
    <a class="card-link" data-toggle="collapse" href="#{{ id }}">
      {{ header }}
    </a>
    {% else %}
      {{ header }}
    {% endif %}
  </div>
  <div id="{{ id }}" class="collapse{% if active %} show{% endif %}" data-parent="#accordion">
    <div class="card-body">
      {{ content|raw }}
    </div>
  </div>
</div>
