{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabContent" aria-controls="tabContent" role="tab"
               data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          {% for method in enabledMethods %}
            <li role="presentation">
              <a href="#tabMethod{{ method.id }}" aria-controls="tabContent" role="tab"
                 data-toggle="tab">{{ method.description }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            <div class="row">
              <div class="col-md-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p>{{ 'lbl.DefaultSettings'|trans|ucfirst }}</p>
                  </div>
                  <div class="panel-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.installed) }}
                    {{ form_row(form.apiEnvironment) }}
                    {{ form_row(form.websiteKey) }}
                    {{ form_row(form.secretKey) }}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p>{{ 'lbl.OrderStatuses'|trans|ucfirst }}</p>
                  </div>
                  <div class="panel-body">
                    {{ form_row(form.orderInitId) }}
                    {{ form_row(form.orderCompletedId) }}
                    {{ form_row(form.orderCancelledId) }}
                    {{ form_row(form.orderExpiredId) }}
                    {{ form_row(form.orderRefundedId) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for method in enabledMethods %}
            <div role="tabpanel" class="tab-pane" id="tabMethod{{ method.id }}">
              {{ form_widget(form[method.id]) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

  {% include "MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig" %}
{% endblock %}
