{#
    Product image slider with thumbnails.
    See js/components/carousel.ts and the vanilla-js Splide library
#}

{% if mediaItems %}
    <div class="js-carousel">
        <div class="js-product-slider splide">
            <div class="splide__arrows">
                {# https://tablericons.com/ #}
                <button class="splide__arrow splide__arrow--prev">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-chevron-right"
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        stroke-width="1"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="9 6 15 12 9 18" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-chevron-right"
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        stroke-width="1"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="9 6 15 12 9 18" />
                    </svg>
                </button>
            </div>

            <div class="splide__track">
                <ul class="splide__list photoswipe-inner">
                    {% for mediaItem in mediaItems %}
                        {% if mediaItem.type == 'image' %}
                            <figure class="splide__slide | flex items-center justify-center"
                                itemprop="associatedMedia"
                                itemscope
                                itemtype="http://schema.org/ImageObject">
                                <a href="{{ mediaItem.getWebPath()|imagine_filter('product_large') }}"
                                    itemprop="contentUrl"
                                    data-size="{{ mediaItem.width }}x{{ mediaItem.height }}"
                                    data-med="{{ mediaItem.getWebPath()|imagine_filter('product_large') }}"
                                    data-caption="{{ mediaItem.title }}"
                                    class="cursor-zoom-in">
                                    <img src="{{ mediaItem.getWebPath()|imagine_filter('product_thumbnail') }}"
                                        loading="lazy"
                                        itemprop="thumbnail"
                                        alt="{{ mediaItem.title }}"
                                        title="{{ mediaItem.title }}" />
                                </a>
                            </figure>
                        {% endif %}

                        {% if mediaItem.type == 'movie' %}
                            <li class="splide__slide | flex items-center justify-center"
                                data-splide-html-video="{{ mediaItem.getWebPath() }}"
                                itemprop="associatedMedia"
                                itemscope
                                itemtype="http://schema.org/ImageObject">

                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# Thumbnail slider #}
        <div class="my-6 js-product-slider-thumb splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for mediaItem in mediaItems %}
                        {% if mediaItem.type == 'image' %}
                            <li class="splide__slide">
                                <img src="{{ mediaItem.getWebPath()|imagine_filter('product_slider_thumbnail') }}"
                                    loading="lazy"
                                    alt="{{ mediaItem.title }}"
                                    title="{{ mediaItem.title }}" />
                            </li>
                        {% endif %}

                        {% if mediaItem.type == 'movie' %}
                            <li class="splide__slide"><div class="splide__video__play" style="display: flex;"></div></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
