{% if mediaItems %}
    <div class="col-md-6 no-gutter product-photo">
        <div class="product-photo-inner">
            <ul class="product-photo-slider">
                {% for mediaItem in mediaItems %}
                    <li>
                        <a href="{{ (mediaItem.getWebPath()) | imagine_filter('product_large') }}" data-fancybox="group" data-caption="{{ mediaItem.title }}">
                            <img src="{{ (mediaItem.getWebPath()) | imagine_filter('product_thumbnail') }}"
                             alt="{{ mediaItem.title }}" title="{{ mediaItem.title }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-slider-thumb">
            <div class="thumb-slider">
                <ul class="thumbnails">
                    {% for mediaItem in mediaItems %}
                        <li{% if loop.first %} class="current"{% endif %}>
                            <a href="javascript:void(0);" data-index="{{ loop.index }}">
                                <img src="{{ (mediaItem.getWebPath()) | imagine_filter('product_slider_thumbnail') }}"
                                 alt="{{ mediaItem.title }}" title="{{ mediaItem.title }}"/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
