<div class="container px-6 py-3 mx-auto mb-12">
    <h1 class="block mb-10 text-2xl text-black">
        {{ 'lbl.Cart'|trans|ucfirst }}
    </h1>

    {% if cart and cart.values.count > 0 %}
        {% if not cart.productsInStock %}
            <div class="alert alert-warning">
                <strong>Bestellen niet mogelijk!</strong> Omdat niet alle producten van uw bestelling op voorraad zijn is het niet mogelijk om
                een bestelling te plaatsen. U kunt wel een offerte aanvragen.
            </div>
        {% endif %}

        {#
            The main shopping cart component
            Note: this strongly uses an Alpine.js component (see cart.ts)
            We inject the cart state as JSON into the Alpine component
        #}
        <div
            class="shopping-cart"
            x-data="cart"
            x-init="data = {{ cart|json_encode }}"
        >
            <table class="w-full mt-6 border-b border-gray-200">
                <thead class="text-left uppercase">
                    <tr class="text-sm tracking-wider text-black border-b-2 border-gray-200">
                        <th colspan="3" class="py-3 pr-3">
                            {{ 'lbl.Description'|trans|ucfirst }}
                        </th>
                        <th class="p-3">
                            {{ 'lbl.Price'|trans|ucfirst }}
                        </th>
                        <th class="p-3">
                            {{ 'lbl.Amount'|trans|ucfirst }}
                        </th>
                        <th class="py-3 pl-3 text-right">
                            {{ 'lbl.Total'|trans|ucfirst }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template x-cloak x-for="cartValue in data.items" :key="cartValue.id">
                        <tr>
                            <!-- Thumbnail -->
                            <td class="td-thumb | py-3 pr-3 w-20 border-t border-gray-200 align-middle">
                                <a class="thumb" x-bind:href="cartValue.url" x-bind:title="cartValue.title">
                                    <img class="w-20" loading="lazy" x-bind:src="cartValue.thumbnail" x-bind:alt="cartValue.title">
                                </a>
                            </td>

                            <!-- Product name -->
                            <td class="td-product | p-3 border-t border-gray-200 align-middle" colspan="2">
                                <a x-bind:href="cartValue.url" x-bind:title="cartValue.name" x-text="cartValue.name"></a>
                                <div class="hidden text-xs">
                                    <span>{{ 'lbl.ArticleNumberAbbreviation'|trans|ucfirst }}</span>:
                                    <span x-text="cartValue.sku"></span>
                                </div>
                                <button
                                    class="block my-2 text-xs text-gray-400 hover:text-red-600"
                                    type="button"
                                    title="{{ 'msg.ConfirmDelete'|trans|format(value.product.title|e) }}"
                                    @click="removeItemFromCart(cartValue.id)"
                                >
                                    {{ 'lbl.Delete'|trans|ucfirst }}
                                </button>
                            </td>

                            <!-- Price -->
                            <td class="p-3 align-middle border-t border-gray-200 tabular-nums">
                                <span x-text="formatCurrency(cartValue.price)"></span>
                            </td>

                            <!-- Quantity -->
                            <td class="p-3 align-middle border-t border-gray-200">
                                <label class="sr-only" x-bind:for="'amount-' + cartValue.id">{{ 'lbl.Amount'|trans|ucfirst }}</label>
                                <input
                                    class="inline-block w-20"
                                    x-bind:id="'amount-' + cartValue.id"
                                    type="number"
                                    min="1"
                                    x-model="cartValue.quantity"
                                    x-on:change="updateProductQuantity(cartValue.id, cartValue.quantity)"
                                />
                            </td>

                            <!-- Total -->
                            <td class="py-3 pl-3 text-right align-middle border-t border-gray-200 whitespace-nowrap tabular-nums">
                                <span x-text="formatCurrency(cartValue.total)"></span>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="shopping-cart-overview-summary | w-full flex flex-row justify-between mt-16">

                <!-- Discount code -->
                <div class="panel-discount | block w-4/12 border border-gray-200 rounded">
                    <div class="panel-heading | text-gray-600 bg-gray-100 px-4 py-2 text-md border-gray-200 border-b">{{ 'msg.DoYouHaveADiscountCode'|trans }}</div>
                    <div class="panel-body">
                        <form action="#" method="POST" @submit.prevent="submitDiscountCode">
                            <template x-if="discountValidationMessage !== null">
                                <div class="p-4">
                                    <div class="alert | px-4 py-2 border border-red-200 bg-red-100 text-red-400">
                                        <span x-text="discountValidationMessage"></span>
                                    </div>
                                </div>
                            </template>

                            <div class="flex p-4">
                                <div class="form-field | flex-grow">
                                    <label for="discount-code" class="sr-only">Code</label>
                                    <input
                                        id="discount-code"
                                        class="h-14 w-full"
                                        type="text"
                                        name="discount-code"
                                        placeholder="Code"
                                        x-model="discountCode"
                                    >
                                </div>
                                <button
                                    class="bg-gray-800 text-white px-4 hover:bg-gray-600 disabled:cursor-not-allowed"
                                    type="submit"
                                    x-text="discountButtonLabel"
                                    :class="{ 'is-submitting': discountFormLoading }"
                                    :disabled="discountFormLoading"
                                ></button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Cart summary -->
                <div class="w-5/12">
                    <table class="w-full max-w-full text-black">
                        <tbody class="w-full">

                            <!-- Discounts -->
                            <template x-for="cartRule in data.cartRules" :key="cartRule.id">
                                <tr>
                                    <td class="px-3 py-1">
                                        <span class="font-bold">{{ 'lbl.DiscountCode'|trans|ucfirst }}</span>: <span x-text="cartRule.code"></span>
                                        <button
                                            class="font-bold text-red-500 hover:text-red-400"
                                            type="button"
                                            title="{{ 'msg.ConfirmDelete'|trans|format('discount code'|e) }}"
                                            @click="removeDiscountCodeFromCart(cartRule.id)"
                                        >&times;</button>
                                    </td>
                                    <td class="px-3 py-1 text-right tabular-nums">
                                        <span x-text="'- ' + formatCurrency(cartRule.total)"></span>
                                    </td>
                                </tr>
                            </template>

                            <!-- Subtotal -->
                            <tr>
                                <td class="px-3 py-1">
                                    <span class="font-bold">{{ 'lbl.SubTotal'|trans|ucfirst }}</span>
                                    <span class="text-xs text-gray-400">({{ 'lbl.ExcludingVAT'|trans }})</span>
                                </td>
                                <td class="px-3 py-1 text-right tabular-nums">
                                    <span x-text="formatCurrency(data.subTotal)"></span>
                                </td>
                            </tr>

                            <!-- VAT -->
                            <template x-for="vat in data.vats" :key="vat.id">
                                <tr>
                                    <td class="px-3 py-1 font-bold" x-text="'{{ 'lbl.Vat'|trans }} ' + vat.title"></td>
                                    <td class="px-3 py-1 text-right tabular-nums" x-text="formatCurrency(vat.total)"></td>
                                </tr>
                            </template>

                            <!-- Total -->
                            <tr>
                                <td class="px-3 py-1">
                                    <span class="font-bold">{{ 'lbl.Total'|trans|ucfirst }}</span>
                                    <span class="text-xs text-gray-400">({{ 'lbl.IncludingVAT'|trans }})</span>
                                </td>
                                <td class="px-3 py-1 text-right tabular-nums">
                                    <strong x-text="formatCurrency(data.total)"></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cart-pager-bottom | py-10 my-20 border-t border-gray-200">
                <ul class="flex justify-between">
                    <li>
                        <a href="{{ geturlforblock('Commerce') }}">&larr; {{ 'lbl.BackToOverview'|trans|ucfirst }}</a>
                    </li>
{#                    {% if cart.productsInStock %}{% endif %}#}
                    <li>
                        <a class="flex items-center justify-center w-full px-20 py-2 text-white bg-gray-800 hover:bg-gray-600" href="{{ geturlforblock('Commerce', 'Cart') }}/{{ 'lbl.Checkout'|trans }}">
                            {{ 'lbl.Checkout'|trans|ucfirst }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <p>
            {{ 'msg.NoProductsInCart'|trans }}
        </p>
    {% endif %}
</div>
