{# Prepare a dataset for Alpine.js #}
{% set cartValues = [] %}
{% for item in cart.values %}
    {% set cartValues = cartValues|merge([{
        id: item.id,
        url: item.product.url,
        title: item.product.title,
        sku: item.product.sku,
        thumbnail: item.product.thumbnail.getWebPath()|imagine_filter('product_thumbnail'),
        quantity: item.quantity,
        price: item.product.activePrice(false)|format_money_decimal(),
        total: item.total,
    }]) %}
{% endfor %}

{% set vatItems = [] %}
{% for key, item in cart.vats %}
    {% set vatItems = vatItems|merge([{
        id: key,
        title: item.title,
        total: item.total|format_money_decimal(),
    }]) %}
{% endfor %}

<div class="container px-6 py-3 mx-auto mb-12">
    <h1 class="block mb-10 text-2xl text-black">
        {{ 'lbl.Cart'|trans|ucfirst }}
    </h1>

    {% if cart and cart.values.count > 0 %}
        {% if not cart.productsInStock %}
            <div class="alert alert-warning">
                <strong>Bestellen niet mogelijk!</strong> Omdat niet alle producten van uw bestelling op voorraad zijn is het niet mogelijk om
                een bestelling te plaatsen. U kunt wel een offerte aanvragen.
            </div>
        {% endif %}

        {# The main shopping cart component #}
        {# Note: this strongly uses an Alpine.js component (see cart.ts) #}
        <div
            class="shopping-cart"
            x-data="cart"
            x-init="
                items = {{ cartValues|json_encode }};
                subTotal = {{ cart.subTotal|format_money_decimal() }};
                vatItems = {{ vatItems|json_encode }};
                cartTotal = {{ cart.total|format_money_decimal() }};
            "
        >
            <table class="w-full mt-6 border-b border-gray-300">
                <thead class="text-left uppercase">
                    <tr class="text-sm tracking-wider text-black border-b-2 border-gray-200">
                        <th colspan="3" class="py-3 pr-3">
                            {{ 'lbl.Description'|trans|ucfirst }}
                        </th>
                        <th class="p-3">
                            {{ 'lbl.Price'|trans|ucfirst }}
                        </th>
                        <th class="p-3">
                            {{ 'lbl.Amount'|trans|ucfirst }}
                        </th>
                        <th class="py-3 pl-3 text-right">
                            {{ 'lbl.Total'|trans|ucfirst }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template x-cloak x-for="cartValue in items" :key="cartValue.id">
                        <tr>
                            {# Thumbnail #}
                            <td class="td-thumb | py-3 pr-3 w-20 border-t border-gray-300 align-middle">
                                <a class="thumb" x-bind:href="cartValue.url" x-bind:title="cartValue.title">
                                    <img class="w-20" loading="lazy" x-bind:src="cartValue.thumbnail" x-bind:alt="cartValue.title">
                                </a>
                            </td>

                            {# Product name #}
                            <td class="td-product | p-3 border-t border-gray-300 align-middle" colspan="2">
                                <a x-bind:href="cartValue.url" x-bind:title="cartValue.title" x-text="cartValue.title"></a>
                                <div class="hidden text-xs">
                                    <span>{{ 'lbl.ArticleNumberAbbreviation'|trans|ucfirst }}</span>:
                                    <span x-text="cartValue.sku"></span>
                                </div>
                                <button
                                    class="block my-2 text-xs text-gray-400 hover:text-red-600"
                                    type="button"
                                    title="{{ 'msg.ConfirmDelete'|trans|format(value.product.title|e) }}"
                                    @click="removeItemFromCart(cartValue.id)"
                                >
                                    {{ 'lbl.Delete'|trans|ucfirst }}
                                </button>
                            </td>

                            {# Price #}
                            <td class="p-3 align-middle border-t border-gray-300 tabular-nums">
                                <span x-text="formatNumber(cartValue.price)"></span>
                            </td>

                            {#  Amount #}
                            <td class="p-3 align-middle border-t border-gray-300">
                                <label class="sr-only" x-bind:for="'amount-' + cartValue.id">{{ 'lbl.Amount'|trans|ucfirst }}</label>
                                <input
                                    class="inline-block w-20"
                                    x-bind:id="'amount-' + cartValue.id"
                                    type="number"
                                    min="1"
                                    x-model="cartValue.quantity"
                                    x-on:change="updateProductQuantity(cartValue.id, cartValue.quantity)"
                                />
                            </td>

                            {# Total #}
                            <td class="py-3 pl-3 text-right align-middle border-t border-gray-300 whitespace-nowrap tabular-nums">
                                <span x-text="formatNumber(cartValue.price * cartValue.quantity)"></span>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            {# {% for value in cart.values %}
                {% for valueOption in value.cartValueOptions %}
                    <div class="shopping-cart-row bg-light">
                        <div class="col-md-5 shopping-cart-details">
                            {{ valueOption.productOptionValue.title }}
                            <input type="hidden"
                                value="{{ valueOption.productOptionValue.id }}"
                                data-option="option_{{ valueOption.productOptionValue.productOption.id }}"
                                name="product[{{ value.product.id }}][option_{{ valueOption.productOptionValue.productOption.id }}]" />
                        </div>
                        <div class="col-md-7 shopping-cart-actions">
                            <div class="col-md-4"></div>
                            <div class="text-right col-md-3">
                                &euro; {{ valueOption.productOptionValue.price|formatnumber(2) }}
                            </div>
                            <div class="text-right col-md-3">
                                <strong data-total="{{ value.product.id }}_option_{{ valueOption.productOptionValue.id }}">
                                    € {{ valueOption.total|formatnumber(2) }}
                                </strong>
                            </div>
                            <div class="text-right col-md-2"></div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %} #}

            <div class="shopping-cart-overview-summary | w-full flex flex-row justify-end mt-16">
                <div class="block w-1/6"></div>
                <div class="block w-5/12">
                    <table class="w-full max-w-full text-black">
                        <tbody class="w-full">
                            {# Total discount #}

                            {# Subtotal #}
                            <tr>
                                <td class="px-3 py-1">{{ 'lbl.SubTotal'|trans|ucfirst }}</td>
                                <td class="px-3 py-1 text-right tabular-nums">
                                    <span x-text="formatNumber(subTotal)"></span>
                                </td>
                            </tr>

                            {# VAT #}
                            <template x-for="vat in vatItems" :key="vat.id">
                                <tr>
                                    <td class="px-3 py-1" x-text="vat.title + ' {{ 'lbl.Vat'|trans }}'"></td>
                                    <td class="px-3 py-1 text-right tabular-nums" x-text="formatNumber(vat.total)"></td>
                                </tr>
                            </template>

                            {# Total #}
                            <tr>
                                <td class="px-3 py-1">{{ 'lbl.Total'|trans|ucfirst }}</td>
                                <td class="px-3 py-1 text-right tabular-nums">
                                    <strong x-text="formatNumber(cartTotal)"></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cart-pager-bottom | py-10 my-20 border-t border-gray-300">
                <ul class="flex justify-end">
                    {% if cart.productsInStock %}
                        <li>
                            <a class="flex items-center justify-center w-full px-20 py-2 text-white bg-gray-800 hover:bg-gray-600" href="{{ geturlforblock('Commerce', 'Cart') }}/{{ 'lbl.Checkout'|trans }}">
                                {{ 'lbl.Checkout'|trans|ucfirst }}
                            </a>
                        </li>
                    {% endif %}
{#                    <a class="btn btn-primary arrow pull-right"#}
{#                        href="{{ geturlforblock('Commerce', 'Cart') }}/{{ 'lbl.RequestQuoteUrl'|trans }}">#}
{#                        {{ 'lbl.RequestQuote'|trans|ucfirst }}#}
{#                    </a>#}
                </ul>
            </div>
        </div>
    {% else %}
        <p>
            {{ 'msg.NoProductsInCart'|trans }}
        </p>
    {% endif %}
</div>
