{# Show subcategories #}
{# {% if category.children.count > 0 %}
    <div class="col-md-12 left">
      {% include 'Commerce/Layout/Templates/IndexCategory.html.twig' with{'parentUrl' : category.url, 'categories' : category.children} %}
    </div>
{% endif %} #}

<div class="container px-6 py-3 mx-auto mb-12 md:flex">

    {# Sidebar filters #}
    <aside class="js-product-filters | pr-12 md:w-1/4">
        <ul>
            {# Categories #}
            <li class="pb-10 mb-10 border-b border-gray-200" x-data="{ isCollapsed: false}" x-bind:style="isCollapsed ? 'padding: 0; margin-bottom: 16px;' : ''">
                <h3 class="flex items-center justify-between text-base font-normal text-black capitalize cursor-pointer" @click="isCollapsed = !isCollapsed">
                    {{ 'lbl.Categories'|trans|ucfirst }}

                    <div class="w-4 h-5 icon-fold">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="isCollapsed">
                            <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="!isCollapsed">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </h3>

                <div
                        class="filter-body | overflow-hidden transition-all duration-500"
                        x-ref="filterBody"
                        x-bind:style="!isCollapsed ? `max-height: ${ $refs.filterBody.scrollHeight }px` : 'max-height: 0px'"
                    >
                        <ul class="flex flex-col space-y-2">
                            {% for categoryItem in categories %}
                                <li class="text-sm">
                                    {% set isActiveCategory = category.id == categoryItem.id %}
                                    <a href="{{ categoryItem.url }}" class="transition-colors duration-200 hover:text-yellow-500 {{ isActiveCategory ? 'text-yellow-500' : '' }}">{{ categoryItem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </li>


            {# Dynamic filters from backend #}
            {% for filter in filters %}
                <li class="pb-10 mb-10 border-b border-gray-200" x-data="{ isCollapsed: false}" x-bind:style="isCollapsed ? 'padding: 0; margin-bottom: 16px;' : ''">
                    <h3 class="flex items-center justify-between text-base font-normal text-black capitalize cursor-pointer" @click="isCollapsed = !isCollapsed">
                        {{ filter.title }}

                        <div class="w-4 h-5 icon-fold">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="isCollapsed">
                                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="!isCollapsed">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </h3>

                    {# Filter values #}
                    <div
                        class="filter-body | overflow-hidden transition-all duration-500"
                        x-ref="filterBody"
                        x-bind:style="!isCollapsed ? `max-height: ${ $refs.filterBody.scrollHeight }px` : 'max-height: 0px'"
                    >
                        <div class="filter-checkboxes | flex flex-col">
                            {% for specificationValue in filter.specificationValues|slice(0, filtersShowMoreCount) %}
                                <div>
                                    <label class="inline-flex items-center text-sm" for="specification-value-{{ specificationValue.id }}">
                                        <input id="specification-value-{{ specificationValue.id }}" type="checkbox" class="rounded" data-filter="{{ filter.meta.url }}" data-filter-value="{{ specificationValue.meta.url }}" value="{{ specificationValue.meta.url }}">
                                        <span class="ml-2">{{ specificationValue.value|ucfirst }}</span>
                                    </label>
                                </div>
                            {% endfor %}

                            {# Show more filter values #}
                            <div class="show-more-filters" x-data="{ showMore: true }">
                                <div
                                    class="overflow-hidden transition-all duration-500"
                                    x-ref="filterBodyShowMore"
                                    x-bind:style="!showMore ? `max-height: ${ $refs.filterBodyShowMore.scrollHeight }px; visibility: visible;` : 'max-height: 0px; visibility: hidden;'"
                                >
                                    {% for specificationValue in filter.specificationValues|slice(filtersShowMoreCount) %}
                                        <div>
                                            <label class="inline-flex items-center text-sm" for="specification-value-{{ specificationValue.id }}">
                                                <input id="specification-value-{{ specificationValue.id }}" type="checkbox" class="rounded" data-filter="{{ filter.meta.url }}" data-filter-value="{{ specificationValue.meta.url }}" value="{{ specificationValue.meta.url }}">
                                                <span class="ml-2">{{ specificationValue.value|ucfirst }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                                {% if filter.specificationValues|slice(filtersShowMoreCount) is not empty %}
                                <a
                                    class="flex items-center mt-2 text-sm text-gray-400 hover:text-yellow-500"
                                    href="#show_more_{{ filter.id }}"
                                    @click.prevent="showMore = !showMore"
                                >
                                    <span x-text="showMore ? 'Show more' : 'Show less'"></span>
                                    <div class="w-4 h-5 pt-1 ml-1 icon-fold">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="!showMore">
                                            <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" x-show="showMore">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </aside>

    {# Product grid #}
    <main class="md:pl-6 md:w-3/4">
        {% if category.products.count > 0 %}
            <div class="product-overview" data-product-list="Category">

                {# Overview bar #}
                <div class="overview-bar | flex-col flex md:flex-row">
                    <div class="overview-bar-left | mb-10 flex flex-1 items-center">
                        <h1 class="text-2xl">{{ category.title|ucfirst }}</h1>
                    </div>
                    <div class="overview-bar-right | mb-10 flex md:justify-end items-center space-x-4">
                        <p class="text-right">{{ 'lbl.SortOn'|trans|ucfirst }}:</p>
                        <div>
                            <div class="select-style">
                                <select class="js-product-sort | border-gray-200" title="Sorteren">
                                {% for key, sortOrder in sortOrders %}
                                    <option value="{{ key }}"{% if sortOrder.selected %} selected{% endif %}>{{ sortOrder.label|ucfirst }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                {# Products #}
                <div>
                    {% if products %}
                        <ul class="grid grid-cols-2 gap-6 md:grid-cols-2 lg:grid-cols-3">
                            {% for product in products %}
                                {% include 'Commerce/Layout/Templates/ProductItem.html.twig' with {'product': product} %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="overview-footer">
                    {# Pagination #}
                    <div class="flex justify-center my-20">
                        {% include "Core/Layout/Templates/Pagination.html.twig" with {'pagination': pagination}  %}
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
</div>
