{# Show subcategories #}
{# {% if category.children.count > 0 %}
    <div class="col-md-12 left">
      {% include 'Commerce/Layout/Templates/IndexCategory.html.twig' with{'parentUrl' : category.url, 'categories' : category.children} %}
    </div>
{% endif %} #}

<div class="container px-6 py-3 mx-auto mb-12 md:flex">

    {# Sidebar filters #}
    <aside class="pr-12 md:w-1/4">
        {% for filter in filters %}
            <ul class="filter-option">
                <li class="pb-10 mb-10 border-b border-gray-200">
                    <h3 class="text-base font-normal capitalize">{{ filter.title }}</h3>
                    <div class="flex-col filter-checkboxes">
                        {% for specificationValue in filter.specificationValues|slice(0, filtersShowMoreCount) %}
                            <div>
                                <label class="inline-flex items-center text-sm" for="specification-value-{{ specificationValue.id }}">
                                    <input id="specification-value-{{ specificationValue.id }}" type="checkbox" class="rounded" data-filter="{{ filter.meta.url }}" data-filter-value="{{ specificationValue.meta.url }}" value="{{ specificationValue.meta.url }}">
                                    <span class="ml-2">{{ specificationValue.value|ucfirst }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    {% for specificationValue in filter.specificationValues|slice(filtersShowMoreCount) %}
                        {% if loop.first %}
                            <div class="show-more-block" id="show_more_{{ filter.id }}" style="display:none;">
                        {% endif %}

                        <div>
                            <label class="inline-flex items-center text-sm" for="specification-value-{{ specificationValue.id }}">
                                <input id="specification-value-{{ specificationValue.id }}" type="checkbox" class="rounded" data-filter="{{ filter.meta.url }}" data-filter-value="{{ specificationValue.meta.url }}" value="{{ specificationValue.meta.url }}">
                                <span class="ml-2">{{ specificationValue.value|ucfirst }}</span>
                            </label>
                        </div>

                    {% if loop.last %}
                        </div>
                        <a class="block mt-2 text-sm text-gray-400 hover:text-yellow-500" href="#show_more_{{ filter.id }}" data-show-more="{{ 'lbl.ShowMore'|trans|ucfirst }}" data-show-less="{{ 'lbl.ShowLess'|trans|ucfirst }}">{{ 'lbl.ShowMore'|trans|ucfirst }}</a>
                    {% endif %}
                {% endfor %}
                </li>
            </ul>
        {% endfor %}
    </aside>

    {# Product grid #}
    <main class="md:pl-6 md:w-3/4">
        {% if category.products.count > 0 %}
            <div class="product-overview" data-product-list="Category">

                {# Overview bar #}
                <div class="overview-bar | flex-col flex md:flex-row">
                    <div class="overview-bar-left | mb-10 flex flex-1 items-center">
                        <h1 class="text-2xl">{{ category.title|ucfirst }}</h1>
                    </div>
                    <div class="overview-bar-right | mb-10 flex md:justify-end items-center space-x-4">
                        <p class="text-right">{{ 'lbl.SortOn'|trans|ucfirst }}:</p>
                        <div>
                            <div class="select-style">
                                <select class="border-gray-200" title="Sorteren" data-sort>
                                {% for key, sortOrder in sortOrders %}
                                    <option value="{{ key }}"{% if sortOrder.selected %} selected{% endif %}>{{ sortOrder.label|ucfirst }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                {# Products #}
                <div class="grid grid-cols-2 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    {% if products %}
                        {% for product in products %}
                            {% include 'Commerce/Layout/Templates/ProductItem.html.twig' with {'product': product} %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="overview-footer">
                    {# Pagination #}
                    <div class="flex justify-center my-20">
                        {% include "Core/Layout/Templates/Pagination.html.twig" with {'pagination': pagination}  %}
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
</div>
