{% set category_path = product.category.title %}
{% set current_category = product.category %}
{% for i in 0..5 %}
    {% if current_category.parent %}
        {% set category_path = current_category.title ~ '/' ~ category_path %}
        {% set current_category = current_category.parent %}
    {% endif %}
{% endfor %}

<div style="background-color: #eeeeee;">
    <div class="container px-6 py-20 mx-auto">
        <div class="flex flex-wrap">
            {# Product images #}
            <div class="product-images | w-full lg:w-1/2 xl:w-3/5 lg:h-auto">
                {{ images|raw }}
            </div>

            <div class="product-quick-info | lg:w-1/2 xl:w-2/5 w-full lg:px-24 my-10 lg:my-0">
                <h1 class="text-2xl text-gray-800">
                    {{ product.title }}
                </h1>
                <p>
                    <span class="article-number">{{ 'lbl.ArticleNumber'|trans|ucfirst }}: <strong>{{ product.sku }}</strong></span>
                </p>

                {# Add to cart #}
                <div class="into-cart">
                    {% form_theme form with['Commerce/Layout/Templates/ProductForm.html.twig'] %}
                    {{ form_start(form) }}
                    <input type="hidden" name="fork[module]" value="Commerce" />
                    <input type="hidden" name="fork[action]" value="UpdateCart" />

                    {% if product.inStock %}
                        <div class="block my-6 price-box">
                            {# Discounts #}
                            {% if product.hasActiveSpecialPrice %}
                                <p class="price-old | line-through text-sm inline align-top">
                                    <del>€ {{ product.oldPrice(false)|formatnumber(2) }}</del>
                                </p>
                                <p class="price-new | text-xl text-yellow-500 font-semibold inline">
                                    <span>€ {{ product.activePrice(false)|formatnumber(2) }}</span>
                                </p>

                                <div class="inline-block px-2 py-1 ml-2 text-xs text-gray-500 align-top border border-gray-500 rounded-full">{{ product.discountPercentage }}</div>
                            {% else %}
                                <p class="price | text-xl text-yellow-500 font-semibold inline">
                                    <span>€ {{ product.activePrice(false)|formatnumber(2) }}</span>
                                </p>
                            {% endif %}
                            <p class="price-btw">
                                <span class="block my-3 text-sm">
                                    {{
                                        'msg.ExclusiveVatPricing'
                                            |trans
                                            |format(
                                                product.vat.percentage|formatnumber(0)|e,
                                                product.activePrice(true)|number_format(2, ',', '.')|e,
                                                product.vat.percentage|number_format(0, ',', '.')|e
                                            )
                                            |raw
                                    }}
                                </span>
                            </p>
                        </div>
                    {% else %}
                        <p class="stock-status">
                            {{ product.stockStatus.title }}
                        </p>
                    {% endif %}

                    <div class="text-gray-500 product-summary">
                        {{ product.summary }}
                    </div>

                    <div class="my-8 add-to-cart">
                        {{ form_widget(form.amount, {'attr': {'class': 'w-full flex border-gray-300 text-center'}}) }}
                        {{ form_rest(form) }}

                        {% if product.inStock %}
                            <script>window.lblProductAdded = "{{ 'lbl.ProductAdded'|trans|ucfirst }}";</script>
                            <a href="javascript:void(0);"
                                class="btn btn-cart js-add-to-cart-btn | w-full bg-gray-800 flex py-4 items-center justify-center hover:bg-gray-600 text-white"
                                data-id="{{ product.id }}">
                                {{ 'lbl.AddProductToShoppingCart'|trans|ucfirst }}
                            </a>
                        {% endif %}
                    </div>

                    <div>
                        <a class="block w-5 text-gray-400 transition-colors duration-200 hover:text-yellow-500">
                            <svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20.84 4.61l1.9475e-07 1.94841e-07c-2.14738-2.14839-5.62979-2.14921-7.77817-.00182601 -.000608683.000608398-.00121722.00121694-.00182562.00182562l-1.06 1.06 -1.06-1.06 3.78705e-07 3.78706e-07c-2.14839-2.14839-5.63161-2.14839-7.78-7.57411e-07 -2.14839 2.14839-2.14839 5.63161-7.57411e-07 7.78 0 0 1.77636e-15 1.77636e-15 1.77636e-15 1.77636e-15l1.06 1.06 7.78 7.78 7.78-7.78 1.06-1.06 9.88459e-08-9.87995e-08c2.14839-2.14738 2.1492-5.62979.00182542-7.77817 -.000608398-.000608683-.00121694-.00121722-.00182562-.00182562Z" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linejoin="round"></path></svg>
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


{# Tabs menu #}
<section class="container px-6 py-10 mx-auto" x-data="{ tab: 'description' }">
    <ul class="flex justify-center mb-8 space-x-8 text-base text-gray-400 tabs-menu">
        <li>
            <button
                class="pb-1 border-b border-gray-200"
                :class="{ 'active text-gray-800': tab === 'description' }"
                @click="tab = 'description'"
            >
                {{ 'lbl.Description'|trans|ucfirst }}
            </button>
        </li>

        {% if product.specificationValues.count > 0 %}
        <li>
            <button
                class="pb-1 border-b border-gray-200"
                :class="{ 'active text-gray-800': tab === 'specifications' }"
                @click="tab = 'specifications'"
            >
                {{ 'lbl.Specifications'|trans|ucfirst }}
            </button>
        </li>
        {% endif %}

        {% if downloads %}
        <li>
            <button
                class="pb-1 border-b border-gray-200"
                :class="{ 'active text-gray-800': tab === 'downloads' }"
                @click="tab = 'downloads'"
            >
                {{ 'lbl.Downloads'|trans|ucfirst }}
            </button>
        </li>
        {% endif %}
    </ul>

    <div>
        <div id="description" class="tab-pane" x-show.transition.opacity.in.duration.300ms="tab === 'description'">
            {{ product.text|raw }}
        </div>

        {% if product.specificationValues.count > 0 %}
            <div id="specifications" class="tab-pane" x-show.transition.opacity.in.duration.300ms="tab === 'specifications'">
                <table class="table w-full">
                    <tbody>
                        {% for specification in specifications %}
                            {% for specificationValue in specification.specificationValues %}
                                <tr>
                                    <th class="w-1/5 pr-3 font-normal text-left text-gray-800 align-top">
                                        {{ specification.title }}:
                                    </th>
                                    <td class="w-4/5 text-left text-gray-400 align-top">
                                        {{ specificationValue.value|ucfirst }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if downloads %}
        <div id="downloads" class="tab-pane" x-show.transition.opacity.in.duration.300ms="tab === 'downloads'">
            {{ downloads|raw }}
        </div>
        {% endif %}
    </div>
</section>

{% if product.relatedProducts.count > 0 %}
    <section class="related-products | container px-6 py-20 mx-auto">
        <h2 class="text-2xl text-gray-800">
            {{ 'lbl.RelatedProducts'|trans|ucfirst }}
        </h2>
        <div>
            <ul class="grid grid-cols-2 gap-6 my-8 md:grid-cols-3 lg:grid-cols-4">
                {% for product in product.relatedProducts %}
                    {% include 'Commerce/Layout/Templates/Components/ProductItem.html.twig' with {
                        product: product
                    } %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}

<span data-product-detail=""
    data-url="{{ product.url }}"
    data-sku="{{ product.sku }}"
    data-name="{{ product.title }}"
    data-brand="{{ product.brand.title }}"
    data-category="{{ category_path }}">
</span>

{# prettier-ignore-start #}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title }}",
  {% if product.images.connectedMediaItems.count > 0 %}
  "image": [
      {% for image in product.images.connectedMediaItems %}
        "{{ image.absoluteWebPath }}"{% if not loop.last %},{% endif %}
      {% endfor %}
   ],
   {% endif %}
  "description": "{{ product.text|raw|striptags }}",
  "mpn": "{{ product.sku }}",
  "brand": {
    "@type": "Thing",
    "name": "{{ product.brand.title }}"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "EUR",
    "price": "{{ product.activePrice(false)|number_format(2,'.', '') }}",
    "itemCondition": "http://schema.org/NewCondition",
    {% if product.inStock %}
    "availability": "http://schema.org/InStock",
    {% else %}
    "availability": "http://schema.org/OutOfStock",
    {% endif %}
    "seller": {
      "@type": "Organization",
      "name": "{{ siteTitle }}"
    }
  }
}
</script>
{# prettier-ignore-end #}
